<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style rel ="stylesheet" href="/MongoWithExpress/public/styles.css"></style>
</head>
<body>
    <h3>WhatsApp Mini</h3>
    <% for(let chat of chats){ %>
        <div class="chat">
            <p>From: <%= chat.from %></p>
            <div class="msg">
                <p><%= chat.msg %></p>
            </div>
            <p>Recieved by <%= chat.to %></p>
            <hr>
        </div>
   <% } %>
</body>
</html>